body{
    background-color: #1B1B32;
}

 h1{
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
h3{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 75px;
}
.main{
    width: 100%;
    height: 100%;
}

label{
    margin-top: 12px;
    margin-bottom: 12px;
    color: white;
    font-size: 1.2em;
    display: flex;
    margin-left: 350px;
}
input{
    width: 50%;
    height: 20px;
    padding: 5px;
    background: #0A0A23;
    margin-left: 350px;
    color: white;
    border-color: #0A0A23;
}
hr{
    width: 675px;
    margin-left: 350px;
    margin-top: 75px; 
    margin-bottom: 75px;
}
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    font-size: 20px;
    margin-top: 20px;
  }
  .checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  .checkbox1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  a{
    color: white;
  }
  select{
    width: 51.3%;
    height: 25px;
    margin-left: 350px;
    color: black;
  }
  .textarea{
    width: 50%;
    height: 20px;
    padding: 5px;
    background: #0A0A23;
    margin-left: 350px;
    color: white;
    border-color: #0A0A23;
    
  }
  button{
    width: 300px;
    height: 35px;
    margin-top: 50px;
    margin-left: 535px;
   background-color: grey;
   color: white;
   border-color: white;
  }
  
  


